@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .navButton {

        @apply 
        
        hidden h-7 w-7 md:inline-flex
        cursor-pointer hover:scale-125 transition-all
        duration-150 ease-out;
    }

    .buttonIcon {

        @apply h-7 w-7 hover:scale-125 transition-all duration-150 ease-out cursor-pointer;

    }

    .containerDesktop {

        @apply relative flex items-center  gap-3 cursor-pointer; 
    }

    .iconActive {

        @apply w-8 h-8  text-blue-400 cursor-pointer;
    }

    .iconInactive {

        @apply w-8 h-8  text-gray-400 cursor-pointer;
    }

    .iconDesktopActive {
        
        @apply w-5 h-5 text-black cursor-pointer;
    }

    .iconDesktop {

        @apply w-5 h-5 text-gray-400 cursor-pointer;

    }

    .statsHorizontal {
        @apply py-4 flex items-center justify-center border-b cursor-pointer transition transform duration-500 hover:bg-gray-100;
    }

    .iconsReels {
        @apply w-6 h-6 text-white cursor-pointer;
    }

    .content-container {
        height: calc(100vh - theme('spacing.24'));
    }

    
      
}

@layer utilities {
    .scroll-snap-none {
      scroll-snap-type: none;
    }
    .scroll-snap-x {
      scroll-snap-type: x;
    }
    .scroll-snap-y {
      scroll-snap-type: y;
    }
  }